ul {
    list-style-type: none;
    margin: 0;
    padding: 0px 36px;
    overflow: hidden;
    background-color: #333;
  }
  body {
    background-image: url('main.jpg');
    background-size: cover;
    background-attachment: fixed; 
  }
  p{
    float:left;
    color:aliceblue;
    align:center;
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
  }
  li {
    float: right;
  }
  
  li a {
    display: inline-block;
    color: white;
    text-align:center;
    padding: 16px 14px 35px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #d71515;
  }
  .active
{
  background-color:#d71515;
}
.one{
    position:absolute;
    top:30%;
    left:35%;
    width:400px;
    background-color:white;
    border:1px solid:
}
.two{
    font-size:20px;
    padding:30px;
    text-align:center;
    color:red;
}