<html>
    <head>
        <title>about</title>
        <link rel="stylesheet" href="../static/about.css">

        </head>
        <body>
            <ul>
                <p><b>SHPVIBE</b></p>
                <li><a href="/contact" >Contact</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/about" class="active">About us</a></li>
                <li><a href="/home">Home</a></li>
            </ul>
            <div class="head">
                <h1>ABOUT</h1>
            </div>
            <div class="photo">
            <img src="../static/about.jpg" alt="Gun" width="500" height="350">
            </div>
            <div class="con">
                <h2>YOLO-Based Weapon Detection</h2>
            </div>
            <div class="one">
                The goal of this project is to develop a real-time weapon detection system using the You Only Look Once (VOLO) object detection algorithm. The system will be trained on a dataset
                of images and videos containing weapons and will be able to accurately detect the presence of weapons in new images and videos.


            </div>
            <div class="two">
                <img src="tick.png" alt="Gun" width="20" height="20">
                The weapon detection system developed in this project will be a valuable tool for improving safety in public spaces, such as schools, airports, and other high-traffic

areas.
            </div>
            <div class="two">
                <img src="tick.png" alt="Gun" width="20" height="20">
                It will also be of interest to researchers studying object detection and its applications in security and safety.
            </div>
        </body>
        </html>