<html>
    <head>
        <title>contact</title>
        <link rel="stylesheet" href="../static/contact.css">
        </head>
    <body>
        <ul>
            <p><b>SHPVIBE</b></p>
            <li><a href="/contact" class="active" >Contact</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/About">About us</a></li>
            <li><a href="/home">Home</a></li>
        </ul>
        <div class="one">
            <div class="two">
            Sai AI Technologies Private Limited<br><br>
            phone:1234567890<br><br>
            email:abc@gmail.com
            </div>
        </div>
        </body>
        </html>