<html>
    <head>
      <title>demo</title>
        <link rel="stylesheet" href="../static/demo.css">
        </head>
    <body>
        <div class="navbar">
            <b>YOLO-BASED WEAPON DETECTION</b>
            <a href="/login">Logout</a>
            <div class="dropdown">
              <button class="dropbtn">Product
                <i class="arrow down"></i>
              </button>
              <div class="dropdown-content">
                <a href="/image">Image as Input</a>
                <a href="/video">Video as Input</a>
                <a href="/live">Live(WebCam)</a>
              </div>
            </div>
            <a href="/demo" class="active">Demo</a>
        </div>
        <div class="two">
          <h1>Demo</h1>
        </div>
        <div class="three">
          <p>The below video is the demo ouput of the yolo project when ever a gun or knife detected,an alert will given in form of alarm.</p>
        </div>
    
          <img src="../static/gun.jpg" alt="Gun" width="500" height="350" class="four">
        
          </body>
          </html>