<html>
    <head>
        <title>login</title>
        <link rel="stylesheet" href="../static/login.css">
        </head>
    <body>
        <ul>
            <p><b>YOLO-BASED WEAPON DETECTION</b></p>
            <li><a href="/register">Register</a></li>
            <li><a href="/login" class="active">Login</a></li>
            <li><a href="/home" >Home</a></li>
        </ul>
        <form  method="POST" class="form1">
            <div class="one" >
                Login to Your Account
            </div>
            <div class="two">
                Enter your email and password to login
            </div>
            <div class="form3">
            Your Email <br>
            </div>
            <input type="Email" name="email" class="form2"/><br>
            <div class="form3">
            Password <br>
            </div>
            <input type="password" name="password" class="form2"/><br>
            <div class="form5">
            <button class="form4">Submit</button><br>
            </div>
            <div class="form3">
                Don't have an account?
                <a href="/register" class="form6">Create an account</a>
            </div>
        </form>
        </body>
        </html>