<html>
    <head>
        <title>register</title>
        <link rel="stylesheet" href="../static/register.css">
        </head>
    <body>
        <ul>
            <p><b>YOLO-BASED WEAPON DETECTION</b></p>
            <li><a href="/register" class="active">Register</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/home" >Home</a></li>
        </ul>
        <form  method="POST" class="form1">
            <div class="one" >
                Create an account
            </div>
            <div class="two">
                Enter your personal details to create account
            </div>
            <div class="form3">
            Your Name <br>
            </div>
            <input type="text" name="name" id="name" class="form2"/><br>
            <div class="form3">
            Your Email <br>
            </div>
            <input type="Email" name="email" id="email" class="form2"/><br>
            <div class="form3">
            Password <br
            </div>
            <input type="password" name="password" id="password" class="form2"/><br>
            <div class="form5">
            <button class="form4">Submit</button><br>
            </div>
            <div class="form3">
                Already have an account?
                <a href="/login" class="form6">Log in</a>
            </div>
        </form>
        </body>
        </html>